*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    font-size: 1.6rem;

}

.header{
    background-color: black;
    display: flex;
    height: 9rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.headerTilte{
    color: white;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 400;
}
.headerButton{
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: none;
    font-size: 120%;
}
.headerButton:hover{
    cursor: pointer;
}

.mainNav{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s all;

}
.mainNavList{
     list-style: none;
}

.mainNavListItem{
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
.mainNavListItem > a{
    text-decoration: none;
    color: white;
}

.bigFigure{
    width: 100%;
    height: 90vh;
    
}
.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}


.collections{
    width: 100%;
    padding: 4rem;
}
.collectionsTitle, .infoTitle{
    font-size: 350%;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 4rem;

}
.collectionsList{
    list-style: none;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.collectionsListItem{
    width: 36rem;
    height: 50rem;
    background-color: black;
    flex-shrink: 1;
    flex-grow: 1;

}
.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    padding: 4rem;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}
.block{
    width: 40rem;
    flex-shrink: 1;
    flex-grow: 1;
}

.info p{

}
.formz{
    border-bottom: 0.1rem solid white;
    font-size: 1.8rem;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 4rem;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

form{
    font-family: sans-serif;
    width: 100%;
    min-height: 40rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    font-size: 3rem;
    gap: 2rem;
}
form label{
    border: 2px solid white;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sectionA{
    background: black;

}
input{
    display: block;
    width: 25ch;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;

}
textarea{
    height: 20rem;
    width: 50rem;
    font-size: 1.6rem;
    border: 1px solid black;
    font-family: sans-serif;
    padding: 0.5rem 1rem;
    resize: none;
    align-items: center;
}
.labelz{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    background: black;
    color: white;
    font-size: 1.6rem;
    border: none;
}

.submit:hover{
    cursor: pointer;
}



footer{
    border-top: 0.1rem solid white;
    height: 9rem;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;

}
.footerNav{
    list-style: none;

}
.footerNavItem{
    font-size: 80%;
    font-style: italic;
}
.footerNavItem > a{
    color: white;
    text-decoration: none;
}
.footer > address{
    font-size: 80%;
}

@media screen and (max-width:700px) {
    body{
        font-size: 1.4rem;
    }
    .headerTilte{
        font-size: 350%;
    }
    
}